include ../partials/header.pug
h1 Qui prend quoi ?
h2= party.name
h3 Créer par #{party.author}

label(for="url") Partagez l'événement
input(id="url" value=`${url}`)

h3 Tu ramène un truc ?
form(method="post" action="/party/"+party._id+"/item")
  div
    label(for="user") Je suis
    input(id="user" placeholder="Felix")
  div
    label(for="name") Je ramène
    input(id="name" placeholder="Bouteille de fanta")
  button(type="submit") Ajout

h3 On ramène déja :
ul
  each item in items
    li= item._id
    form(method="post" action="/party/"+party._id+"/items/"+item._id+"/delete")
      button(type="submit") Supprimer
      




